
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@model Publisher;
@inject SignInManager<IdentityUser> SignInManager
@inject IViewLocalizer Localizer

<div class="text-center">
    <p></p>
    @if (SignInManager.IsSignedIn(User))
    {
        if (!string.IsNullOrWhiteSpace(Model.Name))
        {
            <h3>@(Model.Name)</h3>
        }
        else
        {
            <h5>@Model.Email</h5>
            <p>@Localizer["LoginMissingEmail"]</p>
        }

        if (Model.IsAdmin)
        {
            <div class="container" style="max-width:500px;">
                <div class="d-flex flex-column">
                    @*<a class="p-2 m-2 btn btn-outline-primary" asp-controller="Report" asp-action="Index">@Localizer["ReportsButton"]</a>*@
                    <a class="p-2 m-2 btn btn-outline-primary" asp-controller="ManageTerritories" asp-action="Index">@Localizer["ManageTerritoriesButton"]</a>
                    <a class="p-2 m-2 btn btn-outline-primary" asp-controller="ManagePhoneTerritory" asp-action="Index">@Localizer["ManagePhoneTerritoryButton"]</a>
                </div>
            </div>
        }

        <div class="container" style="max-width:500px;">
            <div class="d-flex flex-column">
                <form action="/ManageTerritories/AddressSearch" id="search-form" class="form-inline m-1">
                    <div class="form-group mx-3">
                        <input type="text" class="form-control" style="width:250px;" name="searchText" placeholder="Enter part of the address">
                    </div>
                    <button type="submit" class="btn btn-primary">Search Addresses</button>
                </form>
            </div>
        </div>
         @*<div id="checked-out-to-section" onload="getCheckedOutTerritories()">Loading...</div>*@
    }
    else
    {
        <img src="mstile-144x144.png">
        <h1 class="display-4">@Localizer["LoginTerritoryTools"]</h1>
        <p>@Localizer["LoginGreeting"]</p>
        <p>@Localizer["LoginSignIn"]</p>
        <form id="external-account" action="~/Identity/Account/ExternalLogin?returnUrl=%2F" method="post" class="form-horizontal">
            <div>
                <p>
                    <button type="submit" class="btn p-0" name="provider" value="Google" title="Log in using your Google account"><img src="/btn_google_signin_dark_normal_web.png" /></button>
                </p>
                <!-- <p>
                    <button type="submit" class="btn p-0" name="provider" value="Microsoft" title="Log in using your Microsoft account"><img src="/ms-symbollockup_signin_light.png" /></button>
                </p> -->
                <p>
                    <a href="~/Identity/Account/LoginPassword" class="btn btn-info m-2">@Localizer["LoginAccountPassword"]</a>
                </p>
            </div>
        </form>
    }
</div>

<partial name="_MyTerritories">

@section scripts {
    <script type="text/javascript">
        var userFullName = "@(Model.Name)";

        document.addEventListener('DOMContentLoaded', (event) => {
            getCheckedOutTerritories();
        });

        function getCheckedOutTerritories()
        {
            $.ajax({
                type: 'GET',
                url: `/api/assignments/checked-out-to?userFullName=${userFullName}`,
                dataType: 'json',
                processData: false,
                contentType: false,
                error: function (xhr, status) {
                    $('#checked-out-to-section')
                        .css('color', 'red')
                        .text(`Sorry there was an error loading your territories.  (${xhr.status} ${status} ${xhr.responseText})`);
                },
                success: function (data) {
                    $('#checked-out-to-section')
                            .text('');
                    data.forEach(function(item) {
                      var html = 
                        `<div class="d-flex mb-0" style="border-top: 1px solid #aaa;"> 
                            <div class="p-2" style="min-width:60px;">
                                <i class="fas fa-map-location-dot pl-4" style="color:black;"></i>
                            </div>
                            <div class="p-2" style="min-width:60px;">
                                <strong class="p-1" style="font-weight:bold;">${item.number}</strong>
                            </div>
                            <div class="p-2 flex-grow-1" style="min-width:120px;">${item.description}</div>
                            <div class="p-2" style="width:150px;text-align:left;">${item.monthsSignedOut ?? 0} months</div>
                            <div class="p-2" style="min-width:60px;">
                                <a class="btn btn-primary" target="_blank" href="${item.assigneeMobileLink}">Open</a>
                            </div>
                        </div>`

                       $('#checked-out-to-section')
                            .append(html);
                    });
                }
            });
        }
    </script>

}