@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@model Publisher;
@inject SignInManager<IdentityUser> SignInManager
@inject IViewLocalizer Localizer

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        if (!string.IsNullOrWhiteSpace(Model.Name))
        {
            <h3>@(Model.Name)</h3>
        }
        else
        {
            <h5>@Model.Email</h5>
            <p>@Localizer["LoginMissingEmail"]</p>
        }

        if (Model.IsAdmin)
        {
            <div class="container" style="max-width:500px;">
                <div class="d-flex flex-column">
                    @*<a class="p-2 m-2 btn btn-outline-primary" asp-controller="Report" asp-action="Index">@Localizer["ReportsButton"]</a>*@
                    <a class="p-2 m-2 btn btn-outline-primary" asp-controller="ManageTerritories" asp-action="Index">@Localizer["ManageTerritoriesButton"]</a>
                    @*<a class="p-2 m-2 btn btn-outline-primary" asp-controller="ManagePhoneTerritory" asp-action="Index">@Localizer["ManagePhoneTerritoryButton"]</a>*@
                </div>
            </div>
        }

        <div class="container" style="max-width:500px;">
            <div class="d-flex flex-column">
                <a class="p-2 m-2 btn btn-outline-primary" href="@Model.SharedPhoneTerritoryLink"><i class="fas fa-phone pl-4"></i>&nbsp;Shared Phone Territory</a>
            </div>
            <div class="d-flex flex-column">
                <div class="form-group mx-3">
                    <div class="input-group-append">
                        <form action="/ManageTerritories/AddressSearch" id="search-form" class="form-inline m-1">
                            <div class="form-group mx-3">
                                <input type="text" class="form-control" style="width:250px;" name="searchText" placeholder="Enter part of the address">
                                <button type="submit" class="btn btn-primary">Search Addresses</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        @*<div id="checked-out-to-section" onload="getCheckedOutTerritories()">Loading...</div>*@
    }
    else
    {
        <img src="mstile-144x144.png">
        <h1 class="display-4">@Localizer["LoginTerritoryTools"]</h1>
        <p>@Localizer["LoginGreeting"]</p>
        <p>@Localizer["LoginSignIn"]</p>
        <form id="external-account" action="~/Identity/Account/ExternalLogin?returnUrl=%2F" method="post" class="form-horizontal">
            <div>
                <p>
                    <button type="submit" class="btn p-0" name="provider" value="Google" title="Log in using your Google account"><img src="/btn_google_signin_dark_normal_web.png" /></button>
                </p>
                <!-- <p>
                    <button type="submit" class="btn p-0" name="provider" value="Microsoft" title="Log in using your Microsoft account"><img src="/ms-symbollockup_signin_light.png" /></button>
                </p> -->
            <p>
                    <a href="~/Identity/Account/LoginPassword" class="btn btn-info m-2">@Localizer["LoginAccountPassword"]</a>
                </p>
            </div>
        </form>
    }
</div>

<partial name="_MyTerritories">
