
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using TerritoryTools.Web.MainSite;
@model Publisher;
@inject SignInManager<IdentityUser> SignInManager
@inject IViewLocalizer Localizer

    <div class="text-center">
        <p></p>
        @if (SignInManager.IsSignedIn(User))
        {
            if (!string.IsNullOrWhiteSpace(Model.Name))
            {
                <h3>@(Model.Name)</h3>
            }
            else
            {
                <h5>@Model.Email</h5>
                <p>@Localizer["LoginMissingEmail"]</p>
            }
        }
        else
        {
            <img src="mstile-144x144.png">
            <h1 class="display-4">@Localizer["LoginTerritoryTools"]</h1>
            <p>@Localizer["LoginGreeting"]</p>
            <p>@Localizer["LoginSignIn"]</p>
            <form id="external-account" action="~/Identity/Account/ExternalLogin?returnUrl=%2F" method="post" class="form-horizontal">
                <div>
                    <p>
                        <button type="submit" class="btn p-0" name="provider" value="Google" title="Log in using your Google account"><img src="/btn_google_signin_dark_normal_web.png" /></button>
                    </p>
                    <!-- <p>
                    <button type="submit" class="btn p-0" name="provider" value="Microsoft" title="Log in using your Microsoft account"><img src="/ms-symbollockup_signin_light.png" /></button>
                </p> -->
                    <p>
                        <a href="~/Identity/Account/LoginPassword" class="btn btn-info m-2">@Localizer["LoginAccountPassword"]</a>
                    </p>
                </div>
            </form>
        }
    </div>

<partial name="_MyTerritories">

