@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@model Publisher;
@inject SignInManager<IdentityUser> SignInManager
@inject IViewLocalizer Localizer

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        if (!string.IsNullOrWhiteSpace(Model.Name))
        {
            <h3>@(Model.Name)</h3>
        }
        else
        {
            <h5>@Model.Email</h5>
            <p>@Localizer["LoginMissingEmail"]</p>
        }

        if (Model.IsAdmin)
        {
            <div class="container" style="max-width:500px;">
                <div class="d-flex flex-column">
                    @*<a class="p-2 m-2 btn btn-outline-primary" asp-controller="Report" asp-action="Index">@Localizer["ReportsButton"]</a>*@

                    <a class="p-2 m-2 btn btn-outline-primary" asp-controller="ManageTerritories" asp-action="Index">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                      <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                      <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                    </svg>
                    &nbsp;@Localizer["ManageTerritoriesButton"]</a>
                    @*<a class="p-2 m-2 btn btn-outline-primary" asp-controller="ManagePhoneTerritory" asp-action="Index">@Localizer["ManagePhoneTerritoryButton"]</a>*@
                </div>
            </div>
        }

        <div class="container" style="max-width:500px;">
@*            <div class="d-flex flex-column">
                <a class="p-2 m-2 btn btn-primary" style="background-color:rebeccapurple;border-color:rebeccapurple;" href="@Model.SharedCampaignLink"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;2023 Campaign</a>
            </div>*@
            <div class="d-flex flex-column">
                <a class="p-2 m-2 btn btn-outline-primary" href="@Model.SharedPhoneTerritoryLink"><i class="fas fa-phone pl-4"></i>&nbsp;Shared Phone Territory</a>
            </div>
@*            <div class="d-flex flex-column">
                <a class="p-2 m-2 btn btn-outline-primary" href="@Model.SharedLettersReturnedLink"><i class="fas fa-envelope pl-4"></i>&nbsp;Returned Letters Sheet</a>
            </div>*@
            <div class="d-flex flex-column">
                <a class="p-2 m-2 btn btn-outline-primary" href="/app/address-search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                    &nbsp;Address Search</a>
            </div>
        </div>
        @*<div id="checked-out-to-section" onload="getCheckedOutTerritories()">Loading...</div>*@
    }
    else
    {
        <img src="mstile-144x144.png">
        <h1 class="display-4">@Localizer["LoginTerritoryTools"]</h1>
        <p>@Localizer["LoginGreeting"]</p>
        <p>@Localizer["LoginSignIn"]</p>
        <form id="external-account" action="~/Identity/Account/ExternalLogin?returnUrl=%2F" method="post" class="form-horizontal">
            <div>
                <p>
                    <button type="submit" class="btn p-0" name="provider" value="Google" title="Log in using your Google account"><img src="/btn_google_signin_dark_normal_web.png" /></button>
                </p>
                <p>
                    <button type="submit" class="btn p-0" name="provider" value="Microsoft" title="Log in using your Microsoft account"><img src="/ms-symbollockup_signin_light.png" /></button>
                </p>
            <p>
                    <a href="~/Identity/Account/LoginPassword" class="btn btn-info m-2">@Localizer["LoginAccountPassword"]</a>
                </p>
            </div>
        </form>
    }
</div>

<partial name="_MyTerritories">
