@model GeographicSummaryReport;
@{
    ViewData["Title"] = "Geographic Completion Summary";
}
    <div class="container mt-3" style="max-width:600px;">
        <h3>@ViewData["Title"]</h3>
        <p>Calculated from today back one year per period</p>
        <div class="d-flex mb-0" style="border-top: 1px solid #aaa;">
            <div class="pr-2 pl-2" style="min-width:300px;">Service Year / Zone / Area</div>
            <div class="pr-2 pl-2" style="min-width:100px;">Territories</div>
            <div class="pr-2 pl-2" style="min-width:100px;">Addresses</div>
            <div class="pr-2 pl-2" style="min-width:100px;">Density</div>
        </div>
        @foreach (var period in @Model.Periods)
        {
    <div class="d-flex mb-0" style="border-top: 1px solid #aaa;">
        <div class="p-2" style="min-width:300px;"><strong>@period.Period</strong></div>
        <div class="p-2" style="min-width:100px;"><strong>@period.Completed</strong></div>
        <div class="p-2" style="min-width:100px;">@period.Addresses</div>
        <div class="p-2" style="min-width:100px;">@(((double)period.Addresses / period.Completed).ToString("0.0"))</div>
    </div>

            @foreach (var zone in period.Zones)
            {
    <div class="d-flex mb-0 pt-0 pb-0" style="border-top: 1px solid #aaa;">
        <div class="pt-0 pb-0 pr-2 pl-2" style="min-width:50px;"></div>
        <div class="pt-0 pb-0 pr-2 pl-2" style="min-width:250px;"><strong>@zone.Zone</strong></div>
        <div class="pt-0 pb-0 pr-2 pl-2" style="min-width:100px;"><strong>@zone.Completed</strong></div>
        <div class="pt-0 pb-0 pr-2 pl-2" style="min-width:100px;">@zone.Addresses</div>
        <div class="pt-0 pb-0 pr-2 pl-2" style="min-width:100px;">@(((double)zone.Addresses / zone.Completed).ToString("0.0"))</div>
    </div>
                @foreach (var area in zone.Areas)
                {
    <div class="d-flex mb-0 pt-0 pb-0" style="border-top: 1px solid #aaa;">
        <div class="pt-0 pb-0 pr-2 pl-2" style="min-width:100px;"></div>
        <div class="pt-0 pb-0 pr-2 pl-2" style="min-width:200px;">@area.Area</div>
        <div class="pt-0 pb-0 pr-2 pl-2" style="min-width:100px;">@area.Completed</div>
        <div class="pt-0 pb-0 pr-2 pl-2" style="min-width:100px;">@area.Addresses</div>
        <div class="pt-0 pb-0 pr-2 pl-2" style="min-width:100px;">@(((double)area.Addresses/area.Completed).ToString("0.0"))</div>
    </div>
                }
            }
        }
    </div>
