@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using TerritoryTools.Web.MainSite;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IViewLocalizer Localizer
@model Publisher;
@{
    ViewData["Title"] = Localizer["YourTerritories"].Value;
}

@if (SignInManager.IsSignedIn(User))
{
    <h4 style="text-align:center;">@ViewData["Title"]</h4>
    if (Model == null || Model.Territories.Count == 0)
    {
        <div class="container mt-3" style="max-width:600px;">
            <div class="d-flex mb-2" style="border-top: 1px solid #aaa;">
                <div class="pr-2 pl-2 flex-grow-1" style="text-align:center;">@Localizer["NoTerritoriesMessage"]</div>
            </div>
        </div>
    }
    else
    {
        if(!Model.PhoneTerritorySuccess)
        {
            <div class="container mt-3" style="max-width:600px;">
                <p class="bg-warning p-1">Error: Unable to connect to phone territory system</p>
            </div>
        }
        <div class="container mt-3" style="max-width:600px;">
            <div class="d-flex mb-0" style="border-top: 1px solid #aaa;">
                <div class="pr-2 pl-2" style="min-width:60px;">#</div>
                <div class="pr-2 pl-2 flex-grow-1">@Localizer["Description"]</div>
                <div class="pr-2 pl-2 flex-grow-1"></div>
                <div class="pr-2 pl-2" style="width:150px;">@Localizer["Assigned"]</div>
@*                <div class="pr-2 pl-2" style="width:50px;">@Localizer["Addresses"]</div>*@
                <div class="pr-1 pl-1" style="min-width:60px;"></div>
                <div class="pr-1 pl-1" style="min-width:60px;"></div>
            </div>

            @foreach (var assignment in Model.Territories)
            {
                string signedOut = "";
                var unit = Localizer["UnitDays"];

                int days = (int)(DateTime.Now - assignment.SignedOut)?.TotalDays;
                if (days > 30)
                {
                    int months = days / 30;
                    unit = Localizer["UnitMonths"];
                    signedOut = $"{months}";
                }
                else
                {
                    signedOut = $"{days}";
                }

                <div class="d-flex mb-0" style="border-top: 1px solid #aaa;">
                    <div class="p-2" style="min-width:60px;"><strong style="font-family:courier;">@assignment.Number</strong></div>
                    <div class="p-2 flex-grow-1">@assignment.Description</div>
                    <div class="p-2" style="width:150px;text-align:left;">@signedOut @unit</div>
                    @*<div class="p-2" style="width:50px;text-align: center;">@assignment.Addresses</div>*@
                    @if (assignment.Description.StartsWith("PHONE"))
                    {
                        <div class="p-2" style="min-width:60px;">
                            <a class="btn btn-primary" target="_blank" href="@assignment.MobileLink">Sheet</a>
                        </div>
                    }
                    else
                    {
                       <div class="p-2" style="min-width:60px;">
                            <a class="btn btn-primary" target="_blank" href="@assignment.MobileLink">@Localizer["MapButton"]</a>
                        </div>
                    }
                </div>
            }
        </div>
    }

    if (Model != null && Model.QRCodeActivity.Count > 0)
    {
        <h4 style="text-align:center;">Your QR Codes (@Model.QRCodeActivity.Count)</h4>

        <div class="container mt-3" style="max-width:600px;">
            <div class="d-flex mb-0" style="border-top: 1px solid #aaa;">
                <div class="pr-2 pl-2" style="min-width:60px;">ID</div>
                <div class="pr-2 pl-2" style="min-width:60px;">Link</div>
                <div class="pr-2 pl-2" style="min-width:60px;">Scans</div>
                <div class="pr-2 pl-2" style="min-width:180px;">Last Scan</div>
                <div class="pr-2 pl-2" style="max-width:200px;">Subject</div>
            </div>
            @foreach (var qrCode in Model.QRCodeActivity)
            {
                <div class="d-flex mb-0" style="border-top: 1px solid #aaa;">
                    <div class="p-2" style="min-width:60px;">
                        <strong style="font-family:courier;">@qrCode.ShortUrl</strong>
                    </div>
                    <div class="p-2" style="min-width:60px;">
                        <a href="/UrlShortener/ShortUrls/Show?id=@qrCode.Id">
                            open
                        </a>
                    </div>
                    <div class="p-2" style="min-width:60px;">@qrCode.HitCount</div>
                    <div class="p-2" style="min-width:180px;">@qrCode.LastTimeStamp</div>
                    <div class="p-2" style="max-width:200px;">@qrCode.Subject</div>
                </div>
            }
        </div>
    }
}
else
{

}