@model WebUI.Areas.UrlShortener.Models.ShortUrlShow
@{
    ViewData["Title"] = "Details of a short URL";
}

    <a asp-action="create" class="btn btn-primary m-3" type="submit">Generate Another QR Code</a>
<div class="container">
    <br/>
    <h1>QR Code Result</h1>
    <input id="url-input" hidden value="@Model.ShortUrl" />
    <input id="original-url" hidden value="@Model.OriginalUrl" />
    <form asp-area="UrlShortener" asp-controller="ShortUrls" asp-action="Update" method="post">
        <div class="form-vertical">
            <input asp-for="Id" hidden />
            <div class="input-group input-group-lg p-3">
                <span class="col-md-2">
                    <strong>QR Code:</strong>
                </span>
                <div id="qrCode"></div>
            </div>
            <div class="input-group input-group-lg p-3">
                <span class="col-md-2">
                    <strong>Short URL:</strong>
                </span>
                <span>@Model.ShortUrl</span>
            </div>
            <div class="input-group input-group-lg p-3">
                <span class="col-md-2">
                    <strong>Original URL:</strong>
                </span>
                <a href="@Model.OriginalUrl">@Model.OriginalUrl</a>
            </div>
            <div class="input-group input-group-lg p-3">
                <span class="col-md-2">
                    <strong>Subject:</strong>
                </span>
                <input asp-for="Subject" class="form-control" placeholder="Enter a subject or publication name here..." />
            </div>
            <div class="input-group input-group-lg p-3">
                <span class="col-md-2">
                    <strong>Letter Link:</strong>
                <a href="@Model.LetterLink">open</a>
                </span>
                <input asp-for="LetterLink" class="form-control" placeholder="Paste a link to the letter you sent (Optional)"></input>
            </div>
            <div class="input-group input-group-lg p-3">
                <span class="col-md-2">
                    <strong>Notes:</strong>
                </span>
                <textarea asp-for="Note" rows="7" class="form-control" placeholder="Type a note here..."></textarea>
            </div>
            <div class="input-group input-group-lg p-3">
                <span class="col-md-2">

                </span>
                <span class="input-group-btn ">
                    <button class="btn btn-primary" type="submit">Save Changes</button>
                </span>
            </div>
        </div>
    </form>

</div>


<div id="errorHelp" style="visibility:collapse;height:0;">
    <p style="background-color:yellow;width:auto;">Your jw.org link is not designed for sharing.  Your QR Code has been generated but please consider using a sharing link instead</p>
    <p>Look for and click this button</p>
    <img src='https://s3-us-west-2.amazonaws.com/downloads.md9.us/qrcodes/share-link-icon.png'>
    <p>Don't copy it from the address bar.</p>
    <img src='https://s3-us-west-2.amazonaws.com/downloads.md9.us/qrcodes/not-address-bar.png'>
    <p>See below for more detailed instructions</p>
</div>

<script src="~/lib/qrcode/qrcode.js"></script>
<script type="text/javascript">
    var code = "@Model.ShortUrl";

    function getQRCode() {
        document.getElementById("qrCode").innerHTML = "";
        document.getElementById("errorHelp").style.visibility = "collapse";
        document.getElementById("errorHelp").style.height = "0";
        //var code = document.getElementById("original-url").value;
        //if (code != null && code != "https://www.jw.org/cmn-hant/" && code != "https://www.jw.org/cmn-hans/" && (code.includes("/jw.org/") || code.includes(".jw.org/"))) {
        //    if (!code.includes("srcid=")) {
        //        document.getElementById("errorHelp").style.visibility = "visible";
        //        document.getElementById("errorHelp").style.height = "auto";
        //    }
        //}
        var shortUrl = document.getElementById("url-input").value;
        new QRCode(document.getElementById("qrCode"),
            {
                text: shortUrl,
                width: 150,
                height: 150,
                addQuietZone: true
            });
        document.getElementById("qrCodeUri").innerHTML = shortUrl;
    }

    getQRCode();
</script>
