@using Microsoft.AspNetCore.Mvc.Localization
@model ReportIndexPage;
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"].Value;
}

<h3 class="display-4 text-center">Manage Territories</h3>

<div class="container" style="max-width:500px;">
    <div class="d-flex flex-column">
        <a class="p-2 m-2 btn btn-outline-secondary" asp-controller="Home" asp-action="Index">
            <i class="fas fa-arrow-left text-body"></i>@Localizer["MenuHomeButton"]
        </a>
       @* <h4>Assign Territory</h4>
        <form action="/api/assignments/latest" method="post" id="assign-from-area-form">
            <div class="d-flex mb-0">
                <div class="p-2">
                    <select name="userId" form="assign-from-area-form" class="custom-select m-2">
                        <option selected value="0">Select User</option>
                        @foreach (var user in Model.Users.Where(user => user.Id != 0))
                        {
                            <option value=@(user.Id)>@user.Name</option>
                        }
                    </select>
                    <select name="area" form="assign-from-area-form" class="custom-select m-2">
                        <option selected value="*">Any Area</option>
                        @foreach (var area in Model.Areas)
                        {
                            if(area.IsParent)
                            {
                                <option value="@(area.Code)" style="color:blue;font-weight:bold;">@area.Parent</option>
                            }
                            else 
                            {
                                <option value="@(area.Code)">@area.Name</option>
                            }
                        }
                    </select>
                    <label for="count">Count:</label>
                    <input type="number" id="count" name="count" min="1" max="99" value="1" />
                    <input type="button" class="btn btn-primary" value="Assign Territories from Area"  onclick="submitFromAreaForm($('#assign-from-area-form'))" />
                    <div id="assign-from-area-form-loading" style="color:blue;display:none;">
                        <i class='fa fa-spinner fa-spin'></i>
                        Assigning territories from area...
                    </div>
                    <div style="padding:5px;">
                        <div id="assign-from-area-form-message"></div>
                        <div id="assign-from-area-form-error" style="color:red;"></div>
                        <div id="assign-from-area-territories-container">

                        </div>
                    </div>
                </div>
            </div>
        </form>*@
        <h4>Assign Territories</h4>
        <form action="/api/assignments/oldest" method="post" id="assign-from-area-form-v2">
            <div class="d-flex mb-0">
                <div class="p-2">
                    <select name="userId" form="assign-from-area-form-v2" class="custom-select m-2">
                        <option selected value="0">Select User</option>
                        @foreach (var user in Model.Users.Where(user => user.Id != 0))
                        {
                            <option value=@(user.Id)>@user.Name</option>
                        }
                    </select>
                    <select name="area" form="assign-from-area-form-v2" class="custom-select m-2">
                        <option selected value="*">Any Area</option>
                        @foreach (var area in Model.Areas)
                        {
                            if(area.IsParent)
                            {
                                <option value="@(area.Code)" style="color:blue;font-weight:bold;">@area.Parent</option>
                            }
                            else 
                            {
                                <option value="@(area.Code)">@area.Name</option>
                            }
                        }
                    </select>
                    <input type="button" class="btn btn-primary" value="Assign Oldest Territory from Area"  onclick="submitFromAreaFormV2(document.getElementById('assign-from-area-form-v2'))" />
                    <label  style="visibility:hidden;" for="count">Count:</label>
                    <input style="visibility:hidden;" type="number" id="count-v2" name="count" min="1" max="99" value="1" />
                    <div id="assign-from-area-form-loading-v2" style="color:blue;display:none;">
                        <i class='fa fa-spinner fa-spin'></i>
                        Assigning territories from area...
                    </div>
                    <div style="padding:5px;">
                        <div id="assign-from-area-form-message-v2"></div>
                        <div id="assign-from-area-form-error-v2" style="color:red;"></div>
                        <div id="assign-from-area-territories-container-v2">

                        </div>
                    </div>
                </div>
            </div>
        </form>
        @*<a class="p-2 m-2 btn btn-outline-primary" asp-controller="Report" asp-action="NeverCompleted">@Localizer["TerritoriesNeverCompleted"]</a>*@
        <a class="p-2 m-2 btn btn-outline-primary" asp-controller="Report" asp-action="Available">@Localizer["AvailableTerritories"]</a>
        <a class="p-2 m-2 btn btn-outline-primary" asp-controller="Report" asp-action="ByPublisher">@Localizer["CheckedOutByPublishers"]</a>
        @*<a class="p-2 m-2 btn btn-outline-secondary" asp-controller="Home" asp-action="Load">@Localizer["LoadDataFromAlba"]</a>
        <a class="p-2 m-2 btn btn-outline-primary" asp-controller="Report" asp-action="AlbaUsers">@Localizer["AlbaUsers"]</a>
        <a href="/api/Assignments/DownloadCsvFiles" class="p-2 m-2 btn btn-outline-secondary">@Localizer["UpdateAssignmentCSVFiles"]</a>
        <a href="/assignments.csv" class="p-2 m-2 btn btn-outline-primary">@Localizer["DownloadAssignmentCSV"]</a>
        <a href="/addresses.txt" class="p-2 m-2 btn btn-outline-primary">@Localizer["DownloadAddressesCSV"]</a>
        <a href="/api/Assignments/DownloadBorderKmlFiles" class="p-2 m-2 btn btn-outline-secondary">@Localizer["UpdateBorderKMLFiles"]</a>
        <a href="/borders.kml" class="p-2 m-2 btn btn-outline-primary">@Localizer["DownloadBordersKML"]</a>
        <a href="@ViewData["CompletionMapUrl"]" class="p-2 m-2 btn btn-outline-primary" target="_blank">@Localizer["CompletionMapUrl"]</a>*@
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        function submitFromAreaForm(form)
        {
            $('#assign-from-area-form-loading')
                .show();
            $('#assign-from-area-form-message')
                .text('');
            $('#assign-from-area-territories-container')
                .html('');

            var form_data = new FormData($("#assign-from-area-form"));
            $.ajax({
                type: 'POST',
                url: form.attr('action'),
                dataType: 'json',
                data: form_data,
                processData: false,
                contentType: false,
                error: function (xhr, status) {
                    $('#assign-from-area-form-loading')
                        .hide();
                    $('#assign-from-area-form-message')
                        .css('color', 'red')
                        .text(xhr.status + ' '+ status + ' ' + xhr.responseText);
                },
                success: function (data) {
                    $('#assign-from-area-form-loading')
                        .hide();
                    $('#assign-from-area-form-territory-description')
                        .text(data.territoryDescription);
                    $('#assign-from-area-form-message')
                        .css('color', 'green')
                        .text(data.message);
                    $('#assign-from-area-form-territory-uri')
                        .attr('href', data.territoryUri)
                        .text(data.territoryUri);

                    data.items.forEach(function(item) {
                       var html = "<strong>" + item.description + "</strong>&nbsp;<a href='" + item.uri + "'>" + item.uri + "</a><br/>";
                       $('#assign-from-area-territories-container')
                            .append(html);
                    });

                        
                }
            });
        }

        function submitFromAreaFormV2(form)
        {
            $('#assign-from-area-form-loading-v2')
                .show();
            $('#assign-from-area-form-message-v2')
                .text('');
            $('#assign-from-area-territories-container-v2')
                .html('');

             var frm = $("#assign-from-area-form-v2");
             var form_data = new FormData(form);
            $.ajax({
                type: 'POST',
                url: frm.attr('action'),
                dataType: 'json',
                data: form_data,
                processData: false,
                contentType: false,
                error: function (xhr, status) {
                    $('#assign-from-area-form-loading-v2')
                        .hide();
                    $('#assign-from-area-form-message-v2')
                        .css('color', 'red')
                        .text(xhr.status + ' '+ status + ' ' + xhr.responseText);
                },
                success: function (data) {
                    $('#assign-from-area-form-loading-v2')
                        .hide();
                    $('#assign-from-area-form-territory-description-v2')
                        .text(data.territoryDescription);
                    $('#assign-from-area-form-message-v2')
                        .css('color', 'green')
                        .text('Territory Link:');
                    $('#assign-from-area-form-territory-uri-v2')
                        .attr('href', data.territoryUri)
                        .text(data.territoryUri);

                    
                       var html = "<strong>" + data.territoryDescription + "</strong>&nbsp;<a href='" + data.territoryUri + "'>" + data.territoryUri + "</a><br/>";
                       $('#assign-from-area-territories-container-v2')
                            .append(html);
                    
                    //data.items.forEach(function(item) {
                    //   var html = "<strong>" + item.description + "</strong>&nbsp;<a href='" + item.uri + "'>" + item.uri + "</a><br/>";
                    //   $('#assign-from-area-territories-container-v2')
                    //        .append(html);
                    //});

                        
                }
            });
        }

    </script>
}