@using Microsoft.AspNetCore.Mvc.Localization
@model ReportIndexPage;
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"].Value;
}

<h4 class="text-center">Manage Territories</h4>

<div class="container" style="max-width:500px;">
    <div class="d-flex flex-column">
        <a class="p-2 m-2 btn btn-outline-secondary" asp-controller="Home" asp-action="Index">
            <i class="fas fa-arrow-left text-body"></i>&nbsp;@Localizer["MenuHomeButton"]
        </a>
       @* <h4>Assign Territory</h4>
        <form action="/api/assignments/latest" method="post" id="assign-from-area-form">
            <div class="d-flex mb-0">
                <div class="p-2">
                    <select name="userId" form="assign-from-area-form" class="custom-select m-2">
                        <option selected value="0">Select User</option>
                        @foreach (var user in Model.Users.Where(user => user.Id != 0))
                        {
                            <option value=@(user.Id)>@user.Name</option>
                        }
                    </select>
                    <select name="area" form="assign-from-area-form" class="custom-select m-2">
                        <option selected value="*">Any Area</option>
                        @foreach (var area in Model.Areas)
                        {
                            if(area.IsParent)
                            {
                                <option value="@(area.Code)" style="color:blue;font-weight:bold;">@area.Parent</option>
                            }
                            else 
                            {
                                <option value="@(area.Code)">@area.Name</option>
                            }
                        }
                    </select>
                    <label for="count">Count:</label>
                    <input type="number" id="count" name="count" min="1" max="99" value="1" />
                    <input type="button" class="btn btn-primary" value="Assign Territories from Area"  onclick="submitFromAreaForm($('#assign-from-area-form'))" />
                    <div id="assign-from-area-form-loading" style="color:blue;display:none;">
                        <i class='fa fa-spinner fa-spin'></i>
                        Assigning territories from area...
                    </div>
                    <div style="padding:5px;">
                        <div id="assign-from-area-form-message"></div>
                        <div id="assign-from-area-form-error" style="color:red;"></div>
                        <div id="assign-from-area-territories-container">

                        </div>
                    </div>
                </div>
            </div>
        </form>*@
        
        @*<a class="p-2 m-2 btn btn-outline-primary" asp-controller="Report" asp-action="NeverCompleted">@Localizer["TerritoriesNeverCompleted"]</a>
        <a class="p-2 m-2 btn btn-outline-primary" asp-controller="Report" asp-action="Available">@Localizer["AvailableTerritories"]</a>
        <a class="p-2 m-2 btn btn-outline-primary" asp-controller="Report" asp-action="ByPublisher">@Localizer["CheckedOutByPublishers"]</a>*@
        
        @*<a class="p-2 m-2 btn btn-outline-secondary" asp-controller="Home" asp-action="Load">@Localizer["LoadDataFromAlba"]</a>
        <a class="p-2 m-2 btn btn-outline-primary" asp-controller="Report" asp-action="AlbaUsers">@Localizer["AlbaUsers"]</a>
        <a href="/api/Assignments/DownloadCsvFiles" class="p-2 m-2 btn btn-outline-secondary">@Localizer["UpdateAssignmentCSVFiles"]</a>
        <a href="/assignments.csv" class="p-2 m-2 btn btn-outline-primary">@Localizer["DownloadAssignmentCSV"]</a>
        <a href="/addresses.txt" class="p-2 m-2 btn btn-outline-primary">@Localizer["DownloadAddressesCSV"]</a>
        <a href="/api/Assignments/DownloadBorderKmlFiles" class="p-2 m-2 btn btn-outline-secondary">@Localizer["UpdateBorderKMLFiles"]</a>
        <a href="/borders.kml" class="p-2 m-2 btn btn-outline-primary">@Localizer["DownloadBordersKML"]</a>
        <a href="@ViewData["CompletionMapUrl"]" class="p-2 m-2 btn btn-outline-primary" target="_blank">@Localizer["CompletionMapUrl"]</a>*@
    </div>
    <div class="d-flex flex-column">
        <a class="m-2 btn btn-outline-primary" asp-controller="ManagePhoneTerritory" asp-action="Index">
            <i class="fas fa-phone pl-4"></i>&nbsp;Manage Phone Territories
        </a>
    </div>
    <div class="d-flex flex-column">
        <a class="m-2 btn btn-outline-primary" href="/app/territory-search">
            <i class="fa-solid fa-door-open"></i>&nbsp;Door-to-door Territories List
        </a>
        <p class="m-2">In the 'Door-to-door Territories (list)' click a territory to assign the territory to someone.</p>
    </div>
    <div class="d-flex flex-column">
        <a class="m-2 btn btn-outline-primary" href="/app/map">
            <i class="fas fa-map-location-dot pl-4"></i>&nbsp;All Territory Map
        </a>
        @*<p>In the 'All Territory Map' click a territory the click the "AssignUrl" to assign the territory to someone.</p>*@
    </div>
    <h4 class="m-2">Assign Territories</h4>
    <form id="assign-from-area-form-v2">
        <div class="d-flex flex-column">
            <p class="m-2">Assign the next territory from an area, or all areas, to a publisher</p>
            @*<select id="area-menu" style="visibility:hidden;" name="area" form="assign-from-area-form-v2" class="custom-select m-2">
                <option selected value="*">Loading...</option>
                <option selected value="*">Any Area</option>
                </select>*@
            
             <div class="m-2">
                <select class="custom-select" id="area-menu-old" name="area" form="assign-from-area-form-v2">
                    <option selected value="*">All areas</option>
                    @foreach (var area in Model.Areas)
                    {
                        if(area.IsParent)
                        {
                            <option value="@(area.Code)" style="color:blue;font-weight:bold;">@area.Parent</option>
                        }
                        else 
                        {
                            <option value="@(area.Code)">@area.Name</option>
                        }
                    }
                </select>
            </div>
         </div>
         <div class="m-2 input-group-append">
            <select id="user-menu" name="userId" form="assign-from-area-form-v2" class="custom-select">
                <option selected value="0">Loading publishers...</option>
            </select>
            <input type="button" class="btn btn-primary" value="Assign"  onclick="submitFromAreaFormV2(document.getElementById('assign-from-area-form-v2'))" />
        </div>
        <label style="visibility:hidden;" for="count">Count:</label>
        <input style="visibility:hidden;" type="number" id="count-v2" name="count" min="1" max="99" value="1" />
        <input type="hidden" id="user-name" name="userName" value="@Model.UserName" />
        <div id="assign-from-area-form-loading-v2" style="color:blue;display:none;">
            <i class='fa fa-spinner fa-spin'></i>
            Assigning territories from area...
        </div>
        <div style="padding:5px;">
            <div id="assign-from-area-form-message-v2"></div>
            <div id="assign-from-area-form-error-v2" style="color:red;"></div>
            <div id="assign-from-area-territories-container-v2"></div>

            <div id="assigned-map-link-section" style="display:none;">
                <h5>Territory Assigned</h5>
                <strong id="assigned-number"></strong>
                <span id="assigned-description"></span>
                <div class="form-group">
                    <div class="input-group-append">
                        <input id="assigned-map-link" name="territoryUri" type="text" class="form-control" readonly>
                        &nbsp;
                        <button id="copy-map-link-button" class="btn btn-secondary"><i class="fa-solid fa-copy"></i></button>
                    </div>
                </div>
                <br/>
                <div><a id="assigned-map-link-open" href="#">open link</a></div> 
                <div class="form-group">
                    <label for="assigneeName">Assigned to:</label>
                    <input id="assigned-to" name="assigneeName" type="text" class="form-control" readonly>
                </div>
            </div>
        </div>
@*        <div id="phone-number-section" class="form-group" style="display:none;">
            <label for="phone-number">SMS Phone Number:</label>
            <div class="input-group-append">
                <input id="phone-number" name="phoneNumber" type="text" class="form-control" readonly>
                <button id="send-sms-button" type="button" class="btn btn-primary">Send</button>
            </div>
            <div id="send-sms-status"></div>
        </div>*@
        <div id="sms-section" class="form-group" style="display:none;">
            <label for="sms-number">Send as text message:</label>
            <div class="input-group-append">
                <input id="sms-number" name="phoneNumber" type="text" class="form-control" readonly>
                <a class="btn btn-primary" id="sms-link" href="#">Send</a>
            </div>
        </div>
        <div id="email-section" class="form-group" style="display:none;">
            <label for="assignee-email-address">Send as email:</label>
            <div class="input-group-append">
                <input id="assignee-email-address" name="emailAddress" type="text" class="form-control" readonly>
                <a class="btn btn-primary" id="email-link" href="#">Send</a>
            </div>
        </div>
    </form>
</div>


@section scripts {
    <script type="text/javascript">
 
        document.addEventListener('DOMContentLoaded', (event) => {
            resetForm();
            loadUsers();
            //TODO: Not Ready Yet, add area groups
            //loadAreas();
        });

        $(document).on("click", "#copy-map-link-button", function () {
          event.preventDefault();
          copyMapLink();
        });

        function copyMapLink() {
          // Get the text field
          var copyText = document.getElementById("assigned-map-link");

          // Select the text field
          copyText.select();
          copyText.setSelectionRange(0, 99999); // For mobile devices

          // Copy the text inside the text field
          navigator.clipboard.writeText(copyText.value);
        }

        function loadUsers() {
            $('#user-menu').html('<option value="0">Loading...</option>');
            $.ajax({
                type: 'GET',
                url: '/api/users?active=true',
                dataType: 'json',
                processData: false,
                contentType: false,
                error: function (xhr, status) {
                    $('#user-menu')
                        .css('color', 'red')
                        .text(`Sorry there was an error loading users.  (${xhr.status} ${status} ${xhr.responseText})`);
                },
                success: function (data) {
                    $('#user-menu').html('<option value="0">Select a publisher</option>');
                    data.forEach(function(item) {
                      const html = `<option value="${item.albaUserId}">${item.albaFullName}</option>`;

                       $('#user-menu').append(html);
                    });
                }
            });
        }

        function loadAreas() {
           $('#area-menu').html('<option value="*">Loading...</option>');
            $.ajax({
                type: 'GET',
                url: '/api/areas',
                dataType: 'json',
                processData: false,
                contentType: false,
                error: function (xhr, status) {
                    $('#area-menu')
                        .css('color', 'red')
                        .text(`Sorry there was an error loading your territories.  (${xhr.status} ${status} ${xhr.responseText})`);
                },
                success: function (data) {
                    $('#area-menu').html('<option value="*">Select an Area</option>');
                    data.forEach(function(item) {
                       const areaGroup = '<option value="area.Code" style="color:blue;font-weight:bold;">area.Parent</option>';
                       const html = `<option value="${item.code}">${item.code} ${item.description}</option>`;

                       $('#area-menu').append(html);
                    });
                }
            });
        }

        function resetForm() {
            //document.getElementById("phone-number-section").style.display = 'none';
            document.getElementById("assigned-map-link-section").style.display = 'none';
            document.getElementById("sms-section").style.display = 'none';
            document.getElementById("email-section").style.display = 'none';
            $('#assigned-map-link').val('');
            $('#assigned-map-link-open').attr('href', '').text('');
            $('#assigned-number').text('');
            $('#assigned-description').text('');
            $('#assigned-to').val('');
            //$('#phone-number').val('');
        }

        function submitFromAreaFormV2(form)
        {
            $('#assign-from-area-form-loading-v2')
                .show();
            $('#assign-from-area-form-message-v2')
                .text('');
            $('#assign-from-area-territories-container-v2')
                .html('');

            var frm = $("#assign-from-area-form-v2");
            var form_data = new FormData(form);
            
            var payload = {
                area: $("select[name='area']").val(),
                userId:$("select[name='userId']").val(),
                count: $("input[name='count']").val(),
                userName: $("input[name='userName']").val()
            };
            
            console.log("area: " + $("input[name='area']").val());
            console.log("userId: " + $("input[name='userId']").val());
            console.log("userName: " + $("input[name='userName']").val());

            console.log("Raw payload: " + payload);
            var text = JSON.stringify(payload);
            console.log("JSON text: " + text);

            $.ajax({
                type: 'POST',
                url: '/api/territory-assignment/assignments/oldest/alba?debug=test1',
                dataType: 'json',
                //data: form_data,
                data: JSON.stringify(payload),
                processData: false,
                contentType: 'application/json',
                error: function (xhr, status) {
                    $('#assign-from-area-form-loading-v2')
                        .hide();
                    $('#assign-from-area-form-message-v2')
                        .css('color', 'red')
                        .text(xhr.status + ' '+ status + ' ' + xhr.responseText);
                },
                success: function (data) {
                    $('#assign-from-area-form-loading-v2')
                        .hide();
                    $('#assign-from-area-form-territory-description-v2')
                        .text(data.territoryDescription);
                    $('#assign-from-area-form-message-v2')
                        .css('color', 'green')
                        .text('');
                    $('#assign-from-area-form-territory-uri-v2')
                        .attr('href', data.territoryUri)
                        .text(data.territoryUri);
                    
                    // Multiple
                    //var html = `<strong>${data.territoryNumber}</strong>&nbsp;${data.territoryDescription}&nbsp;<a href='${data.territoryUri}'>${data.territoryUri}</a><br/>`;
                    //$('#assign-from-area-territories-container-v2')
                    //    .append(html);
                    
                    $('#assigned-number')
                        .text(data.territoryNumber);
                    
                    $('#assigned-description')
                        .text(data.territoryDescription);

                     $('#assigned-to')
                        .text(data.assigneeName);

                    $('#assigned-map-link')
                        .val(data.territoryUri);

                    $('#assigned-map-link-open')
                        .attr('href', data.territoryUri);

                    document.getElementById('assigned-map-link-section').style.display = 'block';
                    $('#assigned-to').val(data.assigneeName);

                    if(data.assigneePhone) {
                        //document.getElementById("phone-number-section").style.display = 'block';
                        //$('#phone-number').val(data.assigneePhone);

                        document.getElementById("sms-section").style.display = 'block';
                        $('#sms-number').val(data.assigneePhone);
                        $('#sms-link').attr('href', `sms://${data.assigneePhone}?body=Territory%20${data.territoryNumber}%20${data.territoryUri}`);
                    } else {
                        //document.getElementById("phone-number-section").style.display = 'none';
                        //$('#phone-number').val('');

                        document.getElementById("sms-section").style.display = 'none';
                        $('#sms-number').val('');
                        $('#sms-link').attr('href','');
                    }
                    
                    if(data.assigneeEmail) {
                        document.getElementById("email-section").style.display = 'block';
                        $('#assignee-email-address').val(data.assigneeEmail);
                        $('#email-link').attr('href', `mailto://${data.assigneeEmail}?body=Territory%20${data.territoryNumber}%20${data.territoryUri}`);
                    } else {
                        document.getElementById("email-section").style.display = 'none';
                        $('#assignee-email-address').val('');
                        $('#email-link').attr('href','');
                    }
                    //data.items.forEach(function(item) {
                    //   var html = "<strong>" + item.description + "</strong>&nbsp;<a href='" + item.uri + "'>" + item.uri + "</a><br/>";
                    //   $('#assign-from-area-territories-container-v2')
                    //        .append(html);
                    //});

                        
                }
            });
        }
        
        $(document).on("click", "#send-sms-button", function () {
            var territoryNumber = $('#modal-header-number').text();
            var area = $("#modal-header-area-code").text();
            var description = $("#modal-header-area-description").text();
            var phoneNumber = $('#phone-number').val();
            var link = $('#assigned-map-link').attr('href');
             $.ajax({
                type: 'POST',
                url: `/api/sms?to=${phoneNumber}&message=Territory ${territoryNumber} ${description} ${area} ${link}`,
                //dataType: 'json',
                processData: false,
                contentType: false,
                error: function (xhr, status) {
                    $('#send-sms-status')
                        .css('color', 'red')
                        .text(`Sorry there was an error sending SMS message.  (${xhr.status} ${status} ${xhr.responseText})`);
                },
                success: function (data) {
                    // TODO: parse the data here and show something better than albaUserId
                    $('#send-sms-status')
                        .css('color', 'blue')
                        .text(`Successfully sent SMS message to ${phoneNumber}`);
                }
                
            });
        });
    </script>
}