@using TerritoryTools.Alba.Controllers.UseCases;
@using TerritoryTools.Web.MainSite;
@model SingleTerritoryManagerPage

<h3>Manage Territory @Model.Number</h3>
<p>Description: <strong>@Model.Description</strong></p>
<p>Status: <strong>@Model.Status</strong></p>
<p>Signed Out: <strong>@Model.SignedOut</strong> to <strong>@(Model.SignedOutTo ?? "")</strong></p>
<p>Last Completed: <strong>@Model.LastCompleted</strong> by <strong>@Model.LastCompletedBy</strong></p>
<p>Territory Type: <strong>@Model.Kind</strong></p>
<p>Address Count: <strong>@Model.Addresses</strong></p>
@*<div class="p-2" style="min-width:60px;">
    <a class="btn btn-primary" target="_blank" href="@Model.MobileLink">
        Open @(Model.Description.StartsWith("PHONE") ? "Sheet" : "Map")
    </a>
</div>

<div class="p-1 mr-1 ml-1" style="width:100px;">
    <form action="/api/Assignments/Unassign" id="unassign-form">
        <input hidden name="territoryId" value="@Model.Id">
        <input class="btn btn-primary" type="submit" value="Unassign">
    </form>
</div>
<div class="p-1 mr-1 ml-1" style="width:100px;">
    <form action="/api/assignments/complete" id="complete-form">
        <input hidden name="territoryId" value="@Model.Id">
        <input class="btn btn-primary" type="submit" value="Complete">
    </form>
</div>*@
<form action="/api/assignments/assign" id="assign-form">
    <div class="p-1 mr-1 ml-1" style="width:400px;">
        <input class="btn btn-primary" type="button" value="Assign to" onclick="submitForm(document.getElementById('assign-form'))">
        <input hidden name="territoryNumber" value="@Model.Number">
        <select id="user-menu" name="albaUserId" class="custom-select m-2">
         @*  <option selected value="0">Select User</option>
            @foreach (var user in Model.Users.Where(user => user.Id != 0))
            {
                <option value=@(user.Id)>@user.Name</option>
            }*@
        </select>
    </div>
     <div id="assign-form-loading" style="color:blue;display:none;">
        <i class='fa fa-spinner fa-spin'></i>
            Assigning territory...
    </div>
    <div style="padding:5px;">
        <div id="assign-form-message"></div>
        <div id="assign-form-error" style="color:red;"></div>
        <div id="assign-territories-container"></div>
    </div>
</form>


@section scripts {
    <script type="text/javascript">
 
        document.addEventListener('DOMContentLoaded', (event) => {
            loadUsers();
        });

        function loadUsers()
        {
            $('#user-menu').html('<option value="0">Loading...</option>');
            $.ajax({
                type: 'GET',
                url: '/api/users?active=true',
                dataType: 'json',
                processData: false,
                contentType: false,
                error: function (xhr, status) {
                    $('#user-menu')
                        .css('color', 'red')
                        .text(`Sorry there was an error loading users.  (${xhr.status} ${status} ${xhr.responseText})`);
                },
                success: function (data) {
                    $('#user-menu').html('<option value="0">Select a user</option>');
                    data.forEach(function(item) {
                      const html = `<option value="${item.albaUserId}">${item.albaFullName}</option>`;

                       $('#user-menu').append(html);
                    });
                }
            });
        }
        
        function submitForm(form)
        {
            $('#assign-form-loading')
                .show();
            $('#assign-form-message')
                .text('');
            $('#assign-territories-container')
                .html('');

             var frm = $("#assign-form");
             var form_data = new FormData(form);
            $.ajax({
                type: 'POST',
                url: frm.attr('action'),
                dataType: 'json',
                data: form_data,
                processData: false,
                contentType: false,
                error: function (xhr, status) {
                    $('#assign-form-loading')
                        .hide();
                    $('#assign-form-message')
                        .css('color', 'red')
                        .text(xhr.status + ' '+ status + ' ' + xhr.responseText);
                },
                success: function (data) {
                    $('#assign-form-loading')
                        .hide();
                    $('#assign-form-territory-description')
                        .text(data.territoryDescription);
                    $('#assign-form-message-')
                        .css('color', 'green')
                        .text('Territory Link:');
                    $('#assign-form-territory-uri')
                        .attr('href', data.territoryUri)
                        .text(data.territoryUri);
                    
                    var html = `<strong>${data.territoryDescription}</strong>&nbsp;${data.territoryNumber}&nbsp;<a href='${data.territoryUri}'>${data.territoryUri}</a><br/>`;
                    $('#assign-territories-container')
                        .append(html);
                }
            });
        }

    </script>
}