@model AssignSingleTerritoryForm;
@{
    ViewData["Title"] = "Available";
}
<div class="container mt-3" style="max-width:600px;">
    <h3>Assign a Single Territory</h3>
    <div class="d-flex mb-0" style="border-top: 1px solid #aaa;">
        <div class="pr-2 pl-2" style="min-width:60px;">#</div>
        <div class="pr-2 pl-2 flex-grow-1">Description</div>
        <div class="pr-2 pl-2 flex-grow-1">Signed Out To</div>
        <div class="pr-2 pl-2" style="width:100px;">Completed</div>
        <div class="pr-2 pl-2" style="width:50px;">Addr.</div>
        <div class="pr-1 pl-1" style="min-width:40px;"></div>
    </div>
    @{
        var assignment = Model.Assignment;

        <form action="/api/Assignments/Assign" id="assign-form-@(assignment.Id)">
            <div class="d-flex mb-0" style="border-top: 1px solid #aaa;">
                <div class="p-2" style="min-width:60px;font-family:courier;"><strong>@assignment.Number</strong></div>
                <div class="p-2 flex-grow-1">@assignment.Description</div>
                <div class="p-2 flex-grow-1">@assignment.SignedOutTo</div>
                <div class="p-2" style="width:100px;">@assignment.TimeSpanCompletedString()</div>
                <div class="p-2" style="width:50px;">@assignment.Addresses</div>
            </div>
            <div class="form-inline">
                <div class="d-flex mb-0">
                    <div class="p-2">
                        <select name="userId" form="assign-form-@(assignment.Id)" class="custom-select m-2">
                            <option selected value="0">Select Publisher</option>
                            @foreach(var user in Model.Users)
                            {
                                <option value=@(user.Id)>@user.Name</option>
                            }
                        </select>
                        <input hidden name="territoryId" value="@assignment.Id">
                        <input class="btn btn-primary hidden" type="submit" value="Assign">
                        <a class="btn btn-primary" target="_blank" href="@assignment.MobileLink">Map</a>
                    </div>
                </div>
            </div>
        </form>
    }
</div>
