@using Microsoft.AspNetCore.Mvc.Localization
@model ManagePhoneTerritoryIndexPage;
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"].Value;
}

<h3 class="display-4 text-center">Manage Phone Territory</h3>

<div class="container" style="max-width:500px;">
    <div class="d-flex flex-column">
        <a class="p-2 m-2 btn btn-outline-secondary" asp-controller="Home" asp-action="Index">
            <i class="fas fa-arrow-left text-body"></i>@Localizer["MenuHomeButton"]
        </a>
        <form action="/api/phoneterritory/create" method="post" id="assign-from-area-form">
            <div class="d-flex mb-0">
                <div class="p-2">
                    <select name="userId" form="assign-from-area-form" class="custom-select m-2">
                        <option selected value="0">Select User</option>
                        @foreach (var user in Model.Users.Where(user => user.Id != null))
                        {
                            @*<option value=@(user.Id)>@user.Name</option>*@
                            <option value=@(user.Id)>@user.GivenName</option>
                        }
                    </select>
                     <div class="form-group mx-3">
                        <input type="text" class="form-control" style="width:250px;" name="sourceDocumentId" value="@Model.DefaultSourceDocumentId" placeholder="Enter Source Google Sheet Document Id">
                    </div>
                     <div class="form-group mx-3">
                        <input type="text" class="form-control" style="width:250px;" name="sourceSheetName" value="@Model.DefaultSourceSheetName" placeholder="Source Sheet Name">
                    </div>
                     <div class="form-group mx-3">
                        <input type="text" class="form-control" style="width:250px;" name="territoryNumber" placeholder="Territory Number">
                    </div>

                  @*  <label for="count">Count:</label>
                    <input type="number" id="count" name="count" min="1" max="99" value="1" />*@
                    <input type="button" class="btn btn-primary" value="Extract and Assign Phone Territory"  onclick="submitFromAreaForm($('#assign-from-area-form'))" />
                    <div id="assign-from-area-form-loading" style="color:blue;display:none;">
                        <i class='fa fa-spinner fa-spin'></i>
                        Extracting a territory...
                    </div>
                    <div style="padding:5px;">
                        <div id="assign-from-area-form-message"></div>
                        <div id="assign-from-area-form-error" style="color:red;"></div>
                        <div id="assign-from-area-territories-container"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        function submitFromAreaForm(form)
        {
            $('#assign-from-area-form-loading')
                .show();
            $('#assign-from-area-form-message')
                .text('');
            $('#assign-from-area-territories-container')
                .html('');

            var form_data = new FormData(form[0]);
            $.ajax({
                type: 'POST',
                url: form.attr('action'),
                dataType: 'json',
                data: form_data,
                processData: false,
                contentType: false,
                error: function (xhr, status) {
                    $('#assign-from-area-form-loading')
                        .hide();
                    $('#assign-from-area-form-message')
                        .css('color', 'red')
                        .text(xhr.status + ' '+ status + ' ' + xhr.responseText);
                },
                success: function (data) {
                    $('#assign-from-area-form-loading')
                        .hide();
                    $('#assign-from-area-form-territory-description')
                        .text(data.territoryDescription);
                    $('#assign-from-area-form-message')
                        .css('color', 'green')
                        .text(data.message);
                    $('#assign-from-area-form-territory-uri')
                        .attr('href', data.territoryUri)
                        .text(data.territoryUri);

                    data.items.forEach(function(item) {
                       var html = "<strong>" + item.description + "</strong>&nbsp;<a href='" + item.uri + "'>" + item.uri + "</a><br/>";
                       $('#assign-from-area-territories-container')
                            .append(html);
                    });

                        
                }
            });
        }

    </script>
}