@using Microsoft.AspNetCore.Mvc.Localization
@using TerritoryTools.Alba.Controllers.PhoneTerritorySheets
@model ManagePhoneTerritoryIndexPage;
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"].Value;
}

<h4 class="text-center">@Localizer["Title"]</h4>

<div class="container" style="max-width:500px;">
    <div class="d-flex flex-column">
        <a class="p-2 m-2 btn btn-outline-secondary" asp-controller="ManageTerritories" asp-action="Index">
            <i class="fas fa-arrow-left text-body"></i>&nbsp;Manage Territories
        </a>
        <h4>@Localizer["CheckOutTitle"]</h4>
        <form action="/api/phoneterritory/create" method="post" id="assign-from-area-form">
            <div class="d-flex mb-0">
                <div class="p-2">
                    <div class="form-group mx-3">
                        <div class="input-group-append">
                        <select id="extract-territory-assignee" name="assigneeEmail" form="assign-from-area-form" class="custom-select">
                            <option value="SHARED" style="font-weight:bold;color:blue;">Shared</option>
                        </select>
                         <input type="button" class="btn btn-primary" value="Assign" 
                            onclick="submitFromAreaForm($('#assign-from-area-form'))" />
                        </div>
                    </div>
                    <input id="assignee-full-name" type="hidden" name="assigneeFullName" value=""/>
                     <div class="form-group mx-3">
                        <button onclick="hideAdvancedExtractFields()" class="btn btn-outline-secondary">
                            @Localizer["MoreShowHideButton"]
                        </button>
                    </div>
                    <div id="create-territory-advanced" style="display:none;">
                        <div class="form-group mx-3">
                            <label class="form-check-label">@Localizer["TerritoryNumber"]</label>
                            <input type="text" class="form-control" style="width:250px;" name="territoryNumber" 
                                placeholder="@Localizer["TerritoryNumber"]" 
                                value="@SheetExtractor.AutoFindNextTerritoryNumber">
                        </div>
                        <div class="form-group mx-3">
                            <label class="form-check-label">@Localizer["ExtractSourceDocumentIdLabel"]</label>
                            <input type="text" class="form-control" style="width:250px;" name="sourceDocumentId" 
                                value="@Model.DefaultSourceDocumentId" 
                                placeholder="@Localizer["ExtractSourceDocumentId"]">
                        </div>
                         <div class="form-group mx-3">
                             <label class="form-check-label">@Localizer["SourceSheetNameLabel"]</label>
                            <input type="text" class="form-control" style="width:250px;" name="sourceSheetName" 
                                value="@Model.DefaultSourceSheetName" placeholder="@Localizer["SourceSheetName"]">
                        </div>
                    </div>
 @*                   <div class="form-group mx-3">
                        <input type="button" class="btn btn-primary" value="@Localizer["ExtractButton"]" 
                            onclick="submitFromAreaForm($('#assign-from-area-form'))" />
                    </div>*@
                    <div id="assign-from-area-form-loading" style="color:blue;display:none;">
                        <i class='fa fa-spinner fa-spin'></i>
                        @Localizer["ExtractingTerritoryMessage"]
                    </div>
                    <div style="padding:5px;">
                        <div id="assign-from-area-form-message"></div>
                        <div id="assign-from-area-form-error" style="color:red;"></div>
                        <div id="assign-from-area-territories-container"></div>
                    </div>
                </div>
            </div>
        </form>
        <h4>@Localizer["AssignWriterTitle"]</h4>
        <form action="/api/phoneterritory/add-writer" method="post" id="add-writer-form">
            <div class="d-flex mb-0">
                <div class="p-2">
                    <div class="form-group mx-3">
                        <select name="userId" form="add-writer-form" class="custom-select">
                            <option selected value="0">@Localizer["SelectUserItemName"]</option>                            
                            @foreach (var user in Model.Users)
                            {
                                <option value=@(user.Id)>@user.FullName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group mx-3">
                        <label class="form-check-label">@Localizer["AddWriterDocumentIdLabel"]</label>
                        <input id="add-writer-document-id" type="text" class="form-control" style="width:250px;" name="documentId" placeholder="@Localizer["AddWriterDocumentId"]">
                    </div>
                    <div class="form-group mx-3">
                        <input type="button" class="btn btn-primary" value="@Localizer["AddWriterButton"]" onclick="submitAddWriter($('#add-writer-form'))"/>
                    </div>
                    <div id="add-writer-form-loading" style="color:blue;display:none;">
                        <i class='fa fa-spinner fa-spin'></i>
                        @Localizer["AddingWriterMessage"]
                    </div>
                    <div style="padding:5px;">
                        <div id="add-writer-form-message"></div>
                        <div id="add-writer-form-error" style="color:red;"></div>
                        <div id="add-writer-territories-container"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', (event) => {
            loadUsers();
        });

        function loadUsers() {
            $('#extract-territory-assignee').html('<option value="0">Loading...</option>');
            $.ajax({
                type: 'GET',
                url: '/api/users?active=true',
                dataType: 'json',
                processData: false,
                contentType: false,
                error: function (xhr, status) {
                    $('#extract-territory-assignee')
                        .css('color', 'red')
                        .text(`Sorry there was an error loading users.  (${xhr.status} ${status} ${xhr.responseText})`);
                },
                success: function (data) {
                    $('#extract-territory-assignee').html(
                        '<option value="0">Select a publisher</option><option style="color:blue;" value="SHARED"><strong>Shared</strong></option>');

                    data.forEach(function(item) {
                      const html = `<option value="${item.normalizedEmail}">${item.albaFullName}</option>`;

                       $('#extract-territory-assignee').append(html);
                    });
                }
            });
        }

        function hideAdvancedExtractFields() {
          event.preventDefault();
          var x = document.getElementById("create-territory-advanced");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }

        function submitFromAreaForm(form)
        {
            $('#assign-from-area-form-loading')
                .show();
            $('#assign-from-area-form-message')
                .text('');
            $('#assign-from-area-territories-container')
                .html('');

            var assigneeFullName = $('#extract-territory-assignee option:selected').text();
            $('#assignee-full-name').val(assigneeFullName);

            var form_data = new FormData(form[0]);
            $.ajax({
                type: 'POST',
                url: form.attr('action'),
                dataType: 'json',
                data: form_data,
                processData: false,
                contentType: false,
                error: function (xhr, status) {
                    $('#assign-from-area-form-loading')
                        .hide();
                    $('#assign-from-area-form-message')
                        .css('color', 'red')
                        .text(xhr.status + ' '+ status + ' ' + xhr.responseText);
                },
                success: function (data) {
                    $('#assign-from-area-form-loading')
                        .hide();
                    $('#assign-from-area-form-territory-description')
                        .text(data.territoryDescription);
                    $('#assign-from-area-form-message')
                        .css('color', 'green')
                        .text(data.message);
                    $('#assign-from-area-form-territory-uri')
                        .attr('href', data.territoryUri)
                        .text(data.territoryUri);

                    var html = "<strong>" + data.item.description + "</strong>&nbsp;<a href='" + data.item.uri + "'>" + data.item.uri + "</a><br/>";
                       $('#assign-from-area-territories-container')
                           .append(html);
                       $('#add-writer-document-id')
                           .val(data.item.documentId);                        
                }
            });
        }

        
        function submitAddWriter(form)
        {
            $('#add-writer-form-loading')
                .show();
            $('#add-writer-form-message')
                .text('');
            $('#add-writer-territories-container')
                .html('');

            var form_data = new FormData(form[0]);
            $.ajax({
                type: 'POST',
                url: form.attr('action'),
                dataType: 'json',
                data: form_data,
                processData: false,
                contentType: false,
                error: function (xhr, status) {
                    $('#add-writer-form-loading')
                        .hide();
                    $('#add-writer-form-message')
                        .css('color', 'red')
                        .text(xhr.status + ' '+ status + ' ' + xhr.responseText);
                },
                success: function (data) {
                    $('#add-writer-form-loading')
                        .hide();
                    $('#add-writer-form-territory-description')
                        .text(data.territoryDescription);
                    $('#add-writer-form-message')
                        .css('color', 'green')
                        .text(data.message);
                    $('#add-writer-form-territory-uri')
                        .attr('href', data.territoryUri)
                        .text(data.territoryUri);

                    var html = "<strong>" + item.description + "</strong>&nbsp;<a href='" + item.uri + "'>" + item.uri + "</a><br/>";
                    $('#add-writer-territories-container')
                        .append(html);
                }
            });
        }

    </script>
}