@using TerritoryTools.Alba.Controllers.UseCases;
@using WebUI;
@using WebUI.Models;
@model AlbaUserListView;
@{
    ViewData["Title"] = "Alba Users";
}

<div class="container mt-3" style="max-width:1200px;">
    <h3>Alba Users</h3>
    <button id="add-users" class="btn btn-primary">Add Selected Users to Territory Tools</button>
    <div class="d-flex mb-0" style="border-top: 1px solid #aaa;">
        <div class="pr-2 pl-2" style="min-width:40px;"><input id="check-all" asp-for="IsChecked" /></div>
        <div class="pr-2 pl-2" style="min-width:100px;">ID</div>
        <div class="pr-2 pl-2" style="min-width:200px;">User Name</div>
        <div class="pr-2 pl-2 flex-grow-1" style="min-width:300px;">Name</div>
        <div class="pr-2 pl-2" style="width:300px;">Email</div>
        <div class="pr-2 pl-2" style="width:200px;">Role</div>
    </div>
    @foreach (var user in Model.Users)
    {
        <div class="d-flex mb-0" style="border-top: 1px solid #aaa;">
            <div class="p-2" style="min-width:40px;">
                <input 
                    id="checkbox-@user.Id"
                    type="checkbox"
                    class="add-checkbox"
                    data-id="@user.Id"
                    data-email="@user.Email"
                    data-name="@user.Name"
                />
            </div>
            <div class="p-2" style="min-width:100px;"><strong>@user.Id</strong></div>
            <div class="p-2" style="min-width:200px;"><strong>@user.UserName</strong></div>
            <div class="p-2 flex-grow-1" style="min-width:300px;">@user.Name</div>
            <div class="p-2" style="width:300px;">@user.Email</div>
            <div class="p-2" style="width:200px;">@user.Role<span id="@user.Id"></span></div>
        </div>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function(){
            $("#add-users").click(function(){
                var users = [];
                $(".add-checkbox").each(function(){
                    var user = {};
                    user.selected = $(this).is(":checked");
                    user.email = $(this).data("email");
                    user.name = $(this).data("name");
                    if(user.selected) {
                        users.push(user);
                        console.log($(this).data("email"));
                    }
                });
                $.ajax({
                    type: "POST",
                    url: "/TerritoryUser/AddUsers",
                    data: JSON.stringify(users),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(){
                        alert("All selected users were added to Territory Tools");
                        // $(".add-checkbox").each(
                        //     function(){
                        //         $(this).prop("checked", false);
                        //     }
                        // );
                    }
                });
            });
            $("#check-all").change(
                function(){
                    $(".add-checkbox").each(
                        function(){
                             $(this).prop("checked", $("#check-all").prop("checked"));
                        }
                    );
                }
            );
        });
    </script>
}