@model AssignmentHistoryReport;
@{
    ViewData["Title"] = "Territory Assignment History Report";
}
    <div class="container mt-3" style="max-width:600px;">
        <h3>@ViewData["Title"]</h3>
        <div class="d-flex mb-0" style="border-top: 1px solid #aaa;">
            <div class="pr-2 pl-2" style="min-width:100px;">Territory</div>
            <div class="pr-2 pl-2" style="min-width:100px;">Publisher</div>
            <div class="pr-2 pl-2" style="min-width:100px;">Checked Out</div>
            <div class="pr-2 pl-2" style="min-width:100px;">Checked In</div>
            <div class="pr-2 pl-2" style="min-width:100px;">Note</div>
        </div>
        @foreach (var item in @Model.Records)
        {
    <div class="d-flex mb-0" style="border-top: 1px solid #aaa;">
        <div class="p-2" style="min-width:100px;"><strong>@item.TerritoryNumber</strong></div>
        <div class="p-2" style="min-width:100px;"><strong>@item.PublisherName</strong></div>
        <div class="p-2" style="min-width:100px;"><strong>@item.CheckedIn</strong></div>
        <div class="p-2" style="min-width:100px;"><strong>@item.CheckedOut</strong></div>
        <div class="p-2" style="min-width:100px;"><strong>@item.Note</strong></div>
    </div>
        }
    </div>
