@model NeverCompletedReport;
@{
    ViewData["Title"] = "Available";
}
<div class="container mt-3" style="max-width:600px;">
    <h3>Territories available to be checked out</h3>
    <div class="d-flex mb-0" style="border-top: 1px solid #aaa;">
        <div class="pr-2 pl-2" style="min-width:60px;">#</div>
        <div class="pr-2 pl-2 flex-grow-1">Description</div>
        <div class="pr-2 pl-2" style="width:100px;">Completed</div>
        <div class="pr-2 pl-2" style="width:50px;">Addr.</div>
        <div class="pr-1 pl-1" style="min-width:40px;"></div>
    </div>
    @foreach (var assignment in Model.Assignments) 
    {
       @* <form action="/api/Assignments/Assign" id="assign-form-@(assignment.Id)">*@
            <div class="d-flex mb-0" style="border-top: 1px solid #aaa;">
                <div class="p-2" style="min-width:60px;font-family:courier;"><strong>@assignment.Number</strong></div>
                <div class="p-2 flex-grow-1">@assignment.Description</div>
                <div class="p-2" style="width:100px;">@assignment.TimeSpanCompletedString()</div>
                <div class="p-2" style="width:50px;">@assignment.Addresses</div>
                 <div class="p-2" style="min-width:60px;">
                    <a class="btn btn-primary" target="_blank" href="/ManageTerritories/Single/@assignment.Number">Open</a>
                </div>
            </div>
         @*   <div class="collapse form-inline" id="demo@(assignment.Id)">
                <div class="d-flex mb-0">
                    <div class="p-2">
                        <select name="userId" form="assign-form-@(assignment.Id)" class="custom-select m-2">
                            <option selected value="0">Select Publisher</option>
                            @foreach(var publisher in Model.Publishers)
                            {
                                <option value=@(publisher.Id)>@publisher.Name</option>
                            }
                        </select>
                        <input hidden name="territoryId" value="@assignment.Id">
                        <input class="btn btn-primary hidden" type="submit" value="Assign">
                        @if (string.IsNullOrWhiteSpace(assignment.MobileLink))
                        {
                            <a class="btn btn-secondary" target="_blank" href="@assignment.PrintLink">Preview Printable Map</a>
                        }
                        else
                        {
                            <a class="btn btn-primary" target="_blank" href="@assignment.MobileLink">Preview Mobile Map</a>
                        }
                    </div>
                </div>
                <p>Assign territory before copying the map link and sending it to anyone.  The link changes after the territory is assigned.</p>
            </div>*@
       @* </form>*@
    }
</div>
