@model SummarizeCompletedReport;
@{
    ViewData["Title"] = "Summarize Completed";
}
    <div class="container mt-3" style="max-width:600px;">
        <h3>Summary of territory completion</h3>
        <div class="d-flex mb-0" style="border-top: 1px solid #aaa;">
            <div class="pr-2 pl-2" style="min-width:60px;">Name</div>
            <div class="pr-2 pl-2 flex-grow-1">Value</div>
        </div>
        <div class="d-flex mb-0" style="border-top: 1px solid #aaa;">
            <div class="p-2" style="min-width:60px;"><strong>Completed This Year</strong></div>
            <div class="p-2" style="min-width:60px;"><strong>@Model.CompletedThisYear</strong></div>
        </div>
        <div class="d-flex mb-0" style="border-top: 1px solid #aaa;">
            <div class="p-2" style="min-width:60px;"><strong>Completed Last Year</strong></div>
            <div class="p-2" style="min-width:60px;"><strong>@Model.CompletedLastYear</strong></div>
        </div>
        <div class="d-flex mb-0" style="border-top: 1px solid #aaa;">
            <div class="p-2" style="min-width:60px;"><strong>Completed Two Years Ago</strong></div>
            <div class="p-2" style="min-width:60px;"><strong>@Model.CompletedTwoYearsAgo</strong></div>
        </div>
        <div class="d-flex mb-0" style="border-top: 1px solid #aaa;">
            <div class="p-2" style="min-width:60px;"><strong>Completed Three Years Ago</strong></div>
            <div class="p-2" style="min-width:60px;"><strong>@Model.CompletedThreeYearsAgo</strong></div>
        </div>
        <div class="d-flex mb-0" style="border-top: 1px solid #aaa;">
            <div class="p-2" style="min-width:60px;"><strong>Completed Four Years Ago</strong></div>
            <div class="p-2" style="min-width:60px;"><strong>@Model.CompletedFourYearsAgo</strong></div>
        </div>
    </div>
